<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=0">
  <style>
    body {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    a {
      text-decoration: none;
    }

    #error-warp {
      height: 400px;
      border-radius: 0 0 10px 10px;
      display: flex;
      background: #fff;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    #error {
      color: #333;
      font-size: 40px;
      position: relative;
      margin-bottom: 40px;
      text-align: center;
    }

    #error::before,
    #error::after {
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      position: absolute;
      content: attr(content);
    }

    #error::before {
      left: 1px;
      text-shadow: -1px 0 red;
      background: #fff;
      animation: noise-before 1s ease-in infinite;
    }

    #error::after {
      left: -2px;
      text-shadow: -1px 0 blue;
      background: #fff;
      animation: noise-after 1.5s ease-out infinite;
    }

    .back-home {
      display: inline-block;
      border-radius: 10px;
      margin-top: 0.5rem;
      padding: 0.3rem 1.5rem;
      background: #e58a8a;
      color: #fff;
    }

    @media screen and (max-width: 900px) {
      #error-warp {
        width: 80%;
      }
    }

    @keyframes noise-before {
      0% {
        clip-path: inset(11% 0 33% 0);
      }

      20% {
        clip-path: inset(99% 0 44% 0);
      }

      40% {
        clip-path: inset(33% 0 55% 0);
      }

      60% {
        clip-path: inset(66% 0 11% 0);
      }

      80% {
        clip-path: inset(22% 0 55% 0);
      }

      100% {
        clip-path: inset(33% 0 77% 0);
      }
    }

    @keyframes noise-after {
      0% {
        clip-path: inset(22% 0 44% 0);
      }

      20% {
        clip-path: inset(77% 0 11% 0);
      }

      40% {
        clip-path: inset(33% 0 55% 0);
      }

      60% {
        clip-path: inset(66% 0 88% 0);
      }

      80% {
        clip-path: inset(22% 0 66% 0);
      }

      100% {
        clip-path: inset(33% 0 77% 0);
      }
    }
  </style>
</head>
<div id="error-warp">
  <strong style="display:none">转载请声明出处: https://github.com/Lete114/AWStats-Theme-HomePage</strong>
  <div id="error" content="<%= theme.error %>"><%= theme.error %></div>
  <a href="/" class="back-home">返回首页</a>
</div>