:root {
  --box-shadow: #eee;
}

* {
  box-sizing: border-box;
}

html {
  font-family: "PingFang SC", "Microsoft YaHei", Helvetica, Arial, Menlo, Monaco,
    monospace, sans-serif;
}

body {
  background: #f7f7f7;
}

body > * {
  width: 820px;
  margin: 0 auto;
}

a {
  color: #00c4b6;
  text-decoration: none;
}

header,
main,
footer {
  background: #fff;
}

header {
  display: flex;
  margin-top: 60px;
  padding: 60px 30px;
  border-radius: 10px 10px 0 0;
  justify-content: space-between;
  box-shadow: 10px 10px 40px 0 var(--box-shadow);
}

.header-author {
  display: flex;
  justify-content: center;
}

.header-author .author-avatar {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 6px;
}

.header-author .author-name {
  color: #ff7242;
  font-size: 1.3rem;
  font-weight: 700;
  padding-top: 10px;
  text-align: center;
}
.header-about p {
  margin: unset;
}
.header-icon {
  text-align: right;
}

.header-icon a {
  display: inline-block;
  font-size: 12px;
  margin: 12px 2px 0;
  vertical-align: middle;
}

.header-icon a * {
  width: 1rem;
}
.header-icon a *:hover {
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  transform: rotate(360deg);
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -ms-transition: all 0.5s;
  transition: all 0.5s;
}

main {
  display: flex;
  width: 820px;
  margin: 0 auto;
  padding: 0 30px;
  flex-flow: column;
  box-shadow: 10px 30px 40px 0 var(--box-shadow);
}

main p {
  line-height: 1.8;
}

.h {
  padding-top: 100px;
  margin-top: -60px;
}
.h:nth-child(1) {
  padding-top: 0;
  margin-top: 0;
}

footer {
  text-align: center;
  font-size: 0.9rem;
  line-height: 2em;
  padding: 30px 0;
  margin-bottom: 60px;
  border-radius: 0 0 10px 10px;
  box-shadow: 10px 30px 40px 0 var(--box-shadow);
}
footer .copyright svg {
  animation: IH 1s linear infinite;
  width: 1rem;
  fill: #00c4b6;
  vertical-align: middle;
}

@media (max-width: 820px) {
  header,
  main,
  footer {
    width: 100%;
  }
}

@keyframes IH {
  0% {
    transform: rotate(0);
  }

  to {
    transform: rotate(-360deg);
  }
}
